In [1]:
import scJoint.process_db as process_db
import h5py
import pandas as pd
import numpy as np
from sklearn.manifold import TSNE
import matplotlib.pyplot as plt
import seaborn as sns
import random
random.seed(1)

In [2]:
rna_h5_files = ["data/citeseq_control_rna.h5"] 
rna_label_files = ["data/citeseq_control_cellTypes.csv"] # csv file

atac_h5_files = ["data/asapseq_control_atac.h5"]
atac_label_files = ["data/asapseq_control_cellTypes.csv"]

rna_protein_files = ["data/citeseq_control_adt.h5"] 
atac_protein_files = ["data/asapseq_control_adt.h5"]

In [4]:
h5 = h5py.File(rna_h5_files[0], "r")
print(list(h5.keys()))
print(h5["matrix"].keys())
h5_data = h5['matrix/data']
h5_barcode = h5['matrix/barcodes']
h5_features = h5['matrix/features']
print(h5_data.shape)

['matrix']
<KeysViewHDF5 ['barcodes', 'data', 'features']>
(17441, 4644)

In [9]:
rna_matrix = np.array(h5_data).transpose()
rna_matrix.shape

(4644, 17441)

In [11]:
rna_barcodes = np.array(h5_barcode)
rna_barcodes
rna_barcodes.shape

(4644,)

In [13]:
rna_features = np.array(h5_features)
rna_features
rna_features.shape

(17441,)

In [14]:
# 转换为稀疏矩阵，并写入到.npz文件中
process_db.data_parsing(rna_h5_files, atac_h5_files)
process_db.data_parsing(rna_protein_files, atac_protein_files)

H5 dataset shape: (17441, 4644)
H5 dataset shape: (17441, 4502)
H5 dataset shape: (227, 4644)
H5 dataset shape: (227, 4502)

In [15]:
rna_label = pd.read_csv(rna_label_files[0], index_col = 0)
rna_label
print(rna_label.value_counts(sort = False))
atac_label = pd.read_csv(atac_label_files[0], index_col = 0)
atac_label
print(atac_label.value_counts(sort = False))

x
B                   263
Effector CD4+ T    1079
Effector CD8+ T     378
Monocytes           180
NK                  594
Naive CD4+ T       1480
Naive CD8+ T        670
Name: count, dtype: int64
x
B                   355
DC                  203
Effector CD4+ T     935
Effector CD8+ T     362
Monocytes           583
NK                  428
Naive CD4+ T       1056
Naive CD8+ T        438
unknown             142
Name: count, dtype: int64

In [16]:
rna_label

                    x
1                  NK
2        Naive CD4+ T
3     Effector CD4+ T
4        Naive CD4+ T
5        Naive CD4+ T
...               ...
4640     Naive CD4+ T
4641  Effector CD8+ T
4642     Naive CD8+ T
4643  Effector CD4+ T
4644               NK

[4644 rows x 1 columns]

In [17]:
atac_label

                 x
1               DC
2        Monocytes
3        Monocytes
4                B
5        Monocytes
...            ...
4498            DC
4499            DC
4500  Naive CD4+ T
4501            DC
4502            DC

[4502 rows x 1 columns]

In [20]:
process_db.label_parsing(rna_label_files, atac_label_files)

{'B': 0, 'Effector CD4+ T': 1, 'Effector CD8+ T': 2, 'Monocytes': 3, 'NK': 4, 'Naive CD4+ T': 5, 'Naive CD8+ T': 6}